:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.navbar {
  height: max-content;
  min-width: min-content;
}
.group {
  min-width: 60px;
  background-color: hsla(var(--igx-primary-500));
  align-items: center;
  min-height: 50px;
  position: relative;
  flex-shrink: 0;
}
.view-container {
  min-width: 0;
  min-height: 0;
  flex-grow: 1;
  position: relative;
}
.group_1 {
  overflow: hidden;
  background-color: hsla(var(--igx-grays-200));
  justify-content: space-between;
  align-items: stretch;
  padding: 8px;
  min-width: 50px;
  min-height: 50px;
  position: relative;
  flex-shrink: 0;
}
.h5 {
  margin: 8px;
  min-width: min-content;
  height: max-content;
  flex-shrink: 0;
}
.text {
  margin: 8px 16px 8px 8px;
  min-width: min-content;
  height: max-content;
  flex-shrink: 0;
}
.group_2 {
  background-color: hsla(var(--igx-grays-200));
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  position: relative;
  flex-shrink: 0;
}
.group_3 {
  align-items: stretch;
  flex-grow: 1;
  min-width: 50px;
  min-height: 50px;
  position: relative;
}
.text_1 {
  min-width: min-content;
  height: max-content;
  flex-shrink: 0;
}
.group_4 {
  padding: 8px;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  position: relative;
  flex-shrink: 0;
}
.group_5 {
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  position: relative;
  flex-shrink: 0;
}
.avatar {
  background-color: hsla(var(--igx-secondary-100));
  margin: 26px 0 0;
  color: hsla(var(--igx-surface-500));
}
.avatar_1 {
  background-color: hsla(var(--igx-warn-500));
  margin: 4px;
  color: hsla(var(--igx-surface-500));
}
.avatar_2 {
  background-color: hsla(var(--igx-success-500));
  margin: 4px;
  color: hsla(var(--igx-surface-500));
}
.icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.avatar_3 {
  background-color: hsla(var(--igx-grays-400));
  margin: 26px 0 0;
  color: hsla(var(--igx-surface-500));
}
.input {
  margin: 0 0 0 16px;
  min-width: min-content;
  flex-shrink: 0;
  height: max-content;
}
.button {
  width: 275px;
  min-width: min-content;
  flex-shrink: 0;
  height: max-content;
}
.checkbox {
  width: max-content;
  margin: 8px;
  height: max-content;
}
.button_1 {
  margin: 8px;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
