:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.group {
  align-items: stretch;
  position: relative;
  flex-grow: 1;
  padding: 8px;
  min-width: 50px;
  min-height: 50px;
}
.group_1 {
  align-items: center;
  flex-shrink: 0;
  background-color: hsla(var(--igx-grays-300));
  padding: 8px;
  min-width: 50px;
  min-height: 50px;
  margin: 8px;
  height: max-content;
}
.h6 {
  min-width: min-content;
  margin: 8px;
  height: max-content;
}
.list {
  height: max-content;
  min-width: min-content;
}
.list-item {
  min-width: 0;
  min-height: 0;
}
.avatar {
  color: hsla(var(--igx-grays-800));
  background-color: hsla(var(--igx-grays-400));
}
.avatar_1 {
  background-color: hsla(var(--igx-secondary-700));
  color: hsla(var(--igx-primary-900));
}
.avatar_2 {
  background-color: hsla(var(--igx-success-500));
  color: hsla(var(--igx-grays-900));
}
.avatar_3 {
  background-color: hsla(var(--igx-primary-500));
  color: hsla(var(--igx-grays-900));
}
.avatar_4 {
  background-color: hsla(var(--igx-grays-900));
  color: hsla(var(--igx-primary-900));
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
