<div class="group row">
  <div class="group_1 column">
    <h6 class="h6">To do</h6>
    <igx-list class="list">
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="NA" [roundShape]="true" size="small" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Preview app</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="IK" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
        </span>
        <span igxListLineTitle>Indigo Cloud integration</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="GA" [roundShape]="true" size="small" class="avatar_3"></igx-avatar>
        </span>
        <span igxListLineTitle>Create brand guideline</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="SB" [roundShape]="true" size="small" class="avatar_4"></igx-avatar>
        </span>
        <span igxListLineTitle>Input update</span>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="group_1 column">
    <h6 class="h6">In Development</h6>
    <igx-list class="list">
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="S" [roundShape]="true" size="small" class="avatar_4"></igx-avatar>
        </span>
        <span igxListLineTitle>Preview app</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="VB" [roundShape]="true" size="small" class="avatar_3"></igx-avatar>
        </span>
        <span igxListLineTitle>Data binding grid</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="IK" [roundShape]="true" size="small" class="avatar_2"></igx-avatar>
        </span>
        <span igxListLineTitle>Copy-Paste update</span>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="group_1 column">
    <h6 class="h6">Validation</h6>
    <igx-list class="list">
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="CP" [roundShape]="true" size="small" class="avatar_4"></igx-avatar>
        </span>
        <span igxListLineTitle>App library</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="AS" [roundShape]="true" size="small" class="avatar_1"></igx-avatar>
        </span>
        <span igxListLineTitle>Update samples</span>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="group_1 column">
    <h6 class="h6">Done</h6>
    <igx-list class="list">
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="GA" [roundShape]="true" size="small" class="avatar_3"></igx-avatar>
        </span>
        <span igxListLineTitle>Sketch Parser</span>
      </igx-list-item>
      <igx-list-item [isHeader]="false" class="list-item">
        <span igxListThumbnail>
          <igx-avatar initials="SA" [roundShape]="true" size="small" class="avatar_4"></igx-avatar>
        </span>
        <span igxListLineTitle>Onboarding experience</span>
      </igx-list-item>
    </igx-list>
  </div>
</div>
